/*!
 * 
 * This stylesheet was written by @Marie Lefebvre
 * Contact: marie.lefebvre@inra.fr
 */

 .page-header{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    width: 90%;
    letter-spacing: 5px;
 }

 .home-content{
 }

 .logo{
    width: 150px;
    margin: auto;
    margin-top: 20px;
 }

.cobra-caption{
	background-color: rgba(255, 255, 255, 0.4); /* black */
}

.cobra-caption h1{
	color: #fff;
	letter-spacing: 3px;
}

.cobra-caption h2{
	letter-spacing: 3px;
}

.cobra-acronym{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;
	padding-bottom: 50px;
}

.cobra-faq{
	font-family: 'Oswald', sans-serif;
	letter-spacing: 2px;	
}

.cobra-feature{
	padding-top: 50px;
}

.card-header.cobra-card{
	letter-spacing: 3px;
}

#carousel{
	width: 80%;
    margin: 0 auto;
}