<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>COBRA HOME</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <div class="home-content">
        <div class="page-header">
          <h1>Welcome to COBRA</h1>
        </div>
        <p class="cobra-acronym">
          A <b>CO</b>mbination of systems <b>B</b>iology and experimental high-throughput approaches to engineer 
          durable <b>R</b>esistance against pl<b>A</b>nt viruses in crops.
        </p>
      <div class="row justify-content-md-center pt-5">

        <div class="col-sm-2">
            <div class="card shadow">
              <div class="card-header text-center pmd-card-dark">
                <span class="oi oi-magnifying-glass" style="font-size: 80px;"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">SEARCH</h5>
                <p class="card-text">Is your protein present in COBRA ?</p>
                <a href="{{ url_for('search') }}" class="btn btn-primary">Go</a>
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card shadow">
              <div class="card-header text-center pmd-card-dark">
                <span class="oi oi-code" style="font-size: 80px;"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">GITHUB REPOSITORY</h5>
                <p class="card-text">The web app code is available on Github. Get a look and launch your own COBRA app!</p>
                <a href="https://github.com/marieBvr/COBRAsuite" class="btn btn-primary" target="_blank">Go</a>
              </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card shadow">
              <div class="card-header text-center pmd-card-dark">
                <span class="oi oi-loop-square" style="font-size: 80px;"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">NETWORK</h5>
                <p class="card-text">Find if your protein interact with the other proteins of COBRA.</p>
                <a href="{{ url_for('search') }}"class="btn btn-primary">Go</a>
              </div>
            </div>
        </div>
      </div><!--/#row -->

    </div><!--/#home-content -->

    {% endblock %}
  </body>
</html>
